* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;

}

#calc {
    width: 400px;
    padding: .5em;
    background-color: #c4c4c4;
    color: black;
    display: flex;
    flex-direction: column;
}

#calc h3 {
    font-size: .8em;
    font-weight: 300;
    color: rgb(62, 53, 58);
}

#operations {
    text-align: right;
    
}

#previous-operation,
#current-operation {
    min-height: 3em;
    padding: 0.2em;
    overflow-wrap: break-word;
}

#previous-operation
 {
    color:rgb(232, 15, 15);
}

#current-operation {
    font-size: 3em;
    font-weight: 700;
}

#buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}

#buttons-container button {
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #dbdbdb;
    cursor: pointer;
}
#buttons-container .number {
    background-color: #f3f3f3;

}

#buttons-container button:hover {
    background-color: #ecec66;
    border-color: rgb(213, 228, 97);

}

#buttons-container #equal-btn {
    grid-column: span 2;
    background-color: #75a5cb;

}

#buttons-container #equal-btn:hover {
     background-color: #e0e306;
    }